[submodule "dagda"]
	path = dagda
	url = https://github.com/eliasgranderubio/dagda
[submodule "excercise"]
	path = excercise
	url = git@github.com:binoopnanu/excercise.git
[submodule "kubernetes-kafka"]
	path = kubernetes-kafka
	url = https://github.com/Yolean/kubernetes-kafka.git
